In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('sales_data_sample_excercise.csv', sep="\t")
df.head(5)

   ORDERNUMBER    SALES  MONTH_ID  YEAR_ID  PRODUCTLINE COUNTRY
0        10107  2871.00         2     2003  Motorcycles     USA
1        10121  2765.90         5     2003  Motorcycles  France
2        10134  3884.34         7     2003  Motorcycles  France
3        10145  3746.70         8     2003  Motorcycles     USA
4        10159  5205.27        10     2003  Motorcycles     USA

In [4]:
df.describe(include='all')

,ORDERNUMBER,SALES,MONTH_ID,YEAR_ID,PRODUCTLINE,COUNTRY
count,2823.000000,2823.000000,2823.000000,2823.00000,2823,2823
unique,NaN,NaN,NaN,NaN,7,19
top,NaN,NaN,NaN,NaN,Classic Cars,USA
freq,NaN,NaN,NaN,NaN,967,1004
mean,10258.725115,3553.889072,7.092455,2003.81509,NaN,NaN
std,92.085478,1841.865106,3.656633,0.69967,NaN,NaN
min,10100.000000,482.130000,1.000000,2003.00000,NaN,NaN
25%,10180.000000,2203.430000,4.000000,2003.00000,NaN,NaN
50%,10262.000000,3184.800000,8.000000,2004.00000,NaN,NaN
75%,10333.500000,4508.000000,11.000000,2004.00000,NaN,NaN
max,10425.000000,14082.800000,12.000000,2005.00000,NaN,NaN

ejercicio: crear un array numérico que contenga como valores la columna "sales" y otro array de tipo string con "country"

In [11]:
sales = np.array(df.SALES.values)
country = np.array(df.COUNTRY.values)

In [13]:
sales

array([2871.  , 2765.9 , 3884.34, ..., 5417.57, 2116.16, 3079.44])

In [14]:
country

array(['USA', 'France', 'France', ..., 'Spain', 'France', 'USA'],
      dtype=object)

calcular min, max, mu, suma

In [17]:
np.min(sales)

482.13

In [18]:
np.max(sales)

14082.8

In [19]:
np.average(sales)

3553.889071909316

In [20]:
np.mean(sales)

3553.889071909316

In [21]:
np.std(sales)

1841.5388520655404

In [22]:
sales.size

2823

calcular media, mediana, desvio y rango

In [23]:
np.median(sales)

3184.8

In [24]:
np.max(sales)-np.min(sales)

13600.67

In [25]:
import seaborn as sns
def distribution_plotter(data, label):    
    sns.set(rc={"figure.figsize": (10, 7)})
    sns.set_style("white")
    dist = sns.distplot(data, hist_kws={'alpha':0.2}, kde_kws={'linewidth':5})
    dist.set_title('Distribucion de ' + label + '\n', fontsize=16)

1. queremos simular las fechas de cumpleaños de los alumnos de KreatioLab (en años no bisiestos). ¿Qué distribución usaríamos?
¿Con qué parámetros? Generar 30 datos que simulos los cumpleaños de las personas en el curso y graficarlo con la función distribution_plotter.

2. asumiendo que la altura de los alumnos es de 1.65 mts y el std 0.12 mts ¿qué distribución representaría la altura de todos los alumnos? Generar y graficar 100 datos con esta distribución.